.header__underline {
	display: block;
	height: 1px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	margin-top: -15px;
	@media (max-width: 768px) {
		margin-top: -5px;
	}
}

.profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 50px;

	color: white;
	padding: 62px 0 2px 0;
	overflow: auto;
	height: 85lvh;

	.btn_avatar {
		border-radius: 50%;
		width: 130px;
		height: 130px;
		background-color: #404144;
		transition: all 0.3s ease 0s;
		box-shadow: 1px 4px 27px -5px black;

		&:hover {
			background-color: rgb(61, 61, 61);
		}
		&:active,
		&:focus {
			background-color: #333;
		}
	}

	.right__block {
		h2 {
			font-size: 22px;
			font-weight: 300;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 26px;

			span {
				color: rgba(255, 255, 255, 0.5);
			}
		}

		.form {
			padding: 85px 0;
			display: flex;
			flex-direction: column;
			gap: 30px;

			input {
				align-self: start;
				font-size: 18px;
				font-weight: 300;
				background-color: transparent;
				outline: none;
				color: rgba(255, 255, 255, 0.8);
				padding-right: 14px;
			}
			label {
				color: rgba(255, 255, 255, 0.5);

				&::first-letter {
					text-transform: uppercase;
				}
			}

			// label, input and penIcon
			&__elem {
				display: grid;
				grid-template-columns: max-content auto max-content;

				@media (max-width: 768px) {
					img {
						display: none;
					}
				}

				span {
					font-size: 20px;
					font-weight: 600;
					margin-right: 5px;

					&:first-letter {
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
